<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#contact">Posts</a>
    <input type="text" placeholder="Search..">
</div>
<hr>
<div class="container">
  <div class="mt-4">
  </div>
  <hr>
  
  <div class="card mb-2 shadow">
      <div class="row justify-content-between mb-2">
          <div class="col-lg-4 ">
            <h6 class="fontstyle"><i class="fas fa-map-marker-alt iconcolor"></i><strong> Title</strong></h6>
          </div>
      </div>
      <div class="row align-items-center mb-2">
          <div class="col-3">
            <h5 class="fontstyle"><strong class="textcolor"> Apply Link :</strong></h5>
          </div>
          <div class="col-3">
            <h6 class="fontstyle"><i class="fas fa-file-invoice-dollar iconcolor"></i><strong class="textcolor"> Job Description
                :</strong></h6>
          </div>
          <div class="col-3">
            <h6 class="fontstyle"><i class="fas fa-building iconcolor"></i><strong class="textcolor">
                Company Name :</strong></h6>
          </div>
        </div>
        <div class="row justify-content-start mb-2">
            <div class="col-3">
              <h6 class="fontstyle"><i class="fas fa-signal iconcolor"></i><strong class="textcolor"> Experience :</strong></h6>
            </div>
            <div class="col-3">
              <h6 class="fontstyle"><i class="fas fa-coins iconcolor"></i><strong class="textcolor"> Salary:</strong></h6>
            </div>
            <div class="col-3">
              <h6 class="fontstyle"><i class="fas fa-signal iconcolor"></i><strong class="textcolor"> Type:</strong></h6>
            </div>
          </div>
          <div class="row justify-content-start mb-2">
            <div class="col-3">
              <h6 class="fontstyle"><i class="fas fa-user-alt iconcolor"></i> <strong class="textcolor"> Skills
                  :</strong></h6>
            </div>
            <div class="col-3">
              <h6 class="fontstyle"><i class="fas fa-map-marker-alt iconcolor"></i><strong class="textcolor"> Location :</strong>
                </h6>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col">
              <h6 class="fontstyle letterspace"></h6>
            </div>
          </div>
  </div>
</div>
